# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/src/generated/prisma
src/lib/generated/prisma/client.d.ts
src/lib/generated/prisma/client.js
src/lib/generated/prisma/default.d.ts
src/lib/generated/prisma/default.js
src/lib/generated/prisma/edge.d.ts
src/lib/generated/prisma/edge.js
src/lib/generated/prisma/index-browser.js
src/lib/generated/prisma/index.d.ts
src/lib/generated/prisma/index.js
src/lib/generated/prisma/package.json
src/lib/generated/prisma/query_compiler_fast_bg.js
src/lib/generated/prisma/query_compiler_fast_bg.wasm
src/lib/generated/prisma/query_compiler_fast_bg.wasm-base64.js
src/lib/generated/prisma/schema.prisma
src/lib/generated/prisma/wasm-edge-light-loader.mjs
src/lib/generated/prisma/wasm-worker-loader.mjs
src/lib/generated/prisma/runtime/client.d.ts
src/lib/generated/prisma/runtime/client.js
src/lib/generated/prisma/runtime/index-browser.d.ts
src/lib/generated/prisma/runtime/index-browser.js
src/lib/generated/prisma/runtime/wasm-compiler-edge.js
cookies.txt
.idea
